body {
  background-image: url('../img/geometry2.png');
}
a:hover { text-decoration: none; }
/* CLASSES */
.open-sans {
  font-family: 'Open Sans', sans-serif;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.waves-peter-river {
  background-color: #3498db;
}
.glaamy {
  color: #DA517A;
}
.web {
  color: #2ecc71;
  font-weight: bold;
}
.mobile {
  color: #3498db;
  font-weight: bold;
}
.color-wet-asphalt {
  color: #34495e;
}
.color-midnight-blue {
  color: #2c3e50;
}



/* LAYOUT */
#container {
  margin-top: 80px;
}
@media (min-width: 768px) {
  #container {
    margin-top: 150px;
  }
}
.title {
  font-size: 60px;
}
.title.smaller {
  font-size: 50px;
}
#subtitle {
  margin: 20px 0;
}
#social-list i {
  font-size: 28px;
}