body {
  position: relative;
  background-image: url('../img/geometry2.png');
}
/* CLASSES */
.open-sans {
  font-family: 'Open Sans', sans-serif;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.waves-peter-river {
  background-color: #3498db;
}
.text-center {
  text-align: center;
}
.block-element {
  display: block;
}
.html5-color {
  color: #E34C26;
}
.css3-color {
  color: #0059b0;
}
.js-color {
  color: #edd832;
}
.ion-color {
  color: #2d61e5;
}
.ng-color {
  color: #d91a2b;
}
.ti-color {
  color: #be0318;
}
.web {
  color: #2ecc71;
  font-weight: bold;
}
.mobile {
  color: #3498db;
  font-weight: bold;
}
.underline {
  padding-bottom: 5px;
  border-bottom: 2px solid #34495e;
}

/* LAYOUT */
#home-container {
  margin-top: 10%;
}
#main-subtitle {
  font-size: 2.5em;
  color: #34495e;
}
#power-ups-list-container {
  margin-top: 50px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.6);
}
#power-ups-icon {
  position: absolute;
  left: 50%;
  margin-left: -2rem;
  top: -2rem;
  width: 4rem;
  height: 4rem;
  background: rgba(255, 255, 255, 1);
  border: 1px solid #ddd;
  border-radius: 2rem;
}
#power-ups-icon i { width: 100%; }

#power-ups-list {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
.power-ups-list-item {
  display: inline;
}

.footer {}