<!DOCTYPE html>
<html>

{% include head.html %}

<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.url }} /assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ site.url }} /assets/bower_components/ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="{{ site.url }} /assets/css/main.css">

<body class="quicksand">

  {% include header.html %}

  <div id="content-wrapper">
    {{ content }}
  </div>

  {% include footer.html %}

  <script src="{{ site.url }} /assets/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="{{ site.url }} /assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="{{ site.url }} /assets/js/main.js">
</body>
</html>