<!DOCTYPE html>
<html>

{% include head.html %}

<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.baseurl }} /assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ site.baseurl }} /assets/bower_components/ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="{{ site.baseurl }} /assets/css/main.css">

<body class="quicksand">

  {% include header.html %}

  <div class="container">
  	<div class="row">
    	<div class="col-sm-4 col-sm-offset-4">

    		{{ content }}
    	
    	</div>
	</div>
  </div>

  {% include footer.html %}

  <script src="{{ site.baseurl }} /assets/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="{{ site.baseurl }} /assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }} /assets/js/main.js"></script>
</body>
</html>